<h1 class="mt-4"><i class="fas fa-shield-alt"></i> Admin -  Sets</h1>

<hr>

<div ng-include src="'partials/errormessage.html'"></div>

<div class="mb-4">
    <button class="btn btn-primary" type="button" ng-click="refreshSets()" ng-disabled="refreshingSets">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-show="refreshingSets"></span>
        Refresh Sets (from API)
      </button>
</div>

<div class="spinner-border" ng-show="loadingSets" role="status">
    <span class="sr-only">Loading...</span>
</div>

<div class="card card-light mb-4" ng-hide="loadingSets">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Import Sets
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table datatable="ng" class="table table-bordered table-dark" id="dataTable" dt-options="dtOptions" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Release year</th>
                        <th>Cards in DB</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Icon</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Release year</th>
                        <th>Cards in DB</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="row in result">
                        <td><img class="inverted" width="20" ng-src="{{row.setIconSVGUri}}"></td> 
                        <td>{{row.setCode}}</td> 
                        <td>{{row.setName}}</td>
                        <td>{{row.setType}}</td>
                        <td>{{row.releaseYear}}</td>
                        <td>{{row.cardsInDB}}</td>
                        <td><button class="btn btn-primary" ng-show="row.cardsInDB==0" ng-click="importSet(row)">Import</button></td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
