<h1 class="mt-4">Admin Tournament Ranking</h1>
<h3 class="mt-2" style="color: #b1b1b1">{{tournamentName}}</h3>

<hr>

<div ng-include src="'partials/errormessage.html'"></div>

<div class="row">
    <div class="col-xl-12">
        <a class="btn btn-special mb-4" href="#!admin_tournament/{{tournamentId}}"><i class="fas fa-arrow-left"></i> Back to
            Tournament Dashboard</a>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-special mb-4">
            <div class="card-header bg-1 text-center">
                Ranking
            </div>
            <div class="card-body">
                <ul class="nav nav-pills mb-3" id="rankingTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-link-special" id="initial-tab" data-toggle="tab" data-target="#initial" role="tab"
                            aria-controls="home" aria-selected="false">Initial Ranking</a>
                    </li>
                    <li class="nav-item" ng-repeat="completedRound in completedRounds">
                        <a class="nav-link ml-2 nav-link-special" ng-class="((liveRoundName == 'None') && ($last)) ? 'active' : ''" id="{{completedRound.roundId}}-tab" data-toggle="tab" data-target="#{{completedRound.roundId}}" role="tab"
                            aria-controls="{{completedRound.roundId}}" aria-selected="false">{{completedRound.untilRound}} <small>(Final Ranking)</small></a>
                    </li>
                    <li class="nav-item" ng-hide="liveRoundName == 'None'">
                        <a class="nav-link ml-2 nav-link-special active" id="live-tab" data-toggle="tab" data-target="#live" role="tab"
                            aria-controls="live" aria-selected="true"><span style="color: #FF4940;"><i class="fas fa-circle"></i></span> {{liveRoundName}} <small>(Live Ranking)</small></a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="initial" role="tabpanel" aria-labelledby="initial-tab">
                        <div class="table-responsive">
                            <table class="table table-striped table-dark" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="align-middle">Rank</th>
                                        <th class="align-middle">Group</th>
                                        <th class="align-middle">Name</th>
                                        <th class="align-middle">Points <br> <small>(Matches / Achievements)</small></th>
                                        <th class="align-middle">Tiebreakers <br> <small>OMP / GWP / OGP</small></th>
                                        <th class="align-middle">Matches <br> <small>Wins / Played (MWP)</small></th>
                                        <th class="align-middle">Games <br> <small>Wins / Played (GWP)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in initialRanking" ng-class="row.you ? 'bg-info' : ''">
                                        <td>{{row.rank}}</td>
                                        <td>{{row.group}}</td>
                                        <td>
                                            <a ng-href="#!profile/{{row.playerId}}">
                                                {{row.displayName}} <span ng-show="row.you"
                                                class="badge rounded-pill bg-danger text-light">You</span>
                                            </a>
                                        </td>
                                        <td><b>{{row.totalPoints}}</b> <small>({{row.matchesPoints}} / +{{row.achievementsPoints}})</small></td>
                                        <td>{{row.OMP}}% / {{row.GWP}}% / {{row.OGP}}%</td>
                                        <td>{{row.matchesWon}} / {{row.matchesPlayed}} ({{row.MWP}}%)</td>
                                        <td>{{row.gamesWon}} / {{row.gamesPlayed}} ({{row.GWP}}%)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="tab-pane fade" ng-repeat="completedRound in completedRounds" ng-class="((liveRoundName == 'None') && ($last)) ? 'show active' : ''" id="{{completedRound.roundId}}" role="tabpanel" aria-labelledby="{{completedRound.roundId}}-tab">
                        <div class="table-responsive">
                            <table class="table table-striped table-dark" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="align-middle">Rank</th>
                                        <th class="align-middle">Group</th>
                                        <th class="align-middle">Name</th>
                                        <th class="align-middle">Points <br> <small>(Matches / Achievements)</small></th>
                                        <th class="align-middle">Tiebreakers <br> <small>OMP / GWP / OGP</small></th>
                                        <th class="align-middle">Matches <br> <small>Wins / Played (MWP)</small></th>
                                        <th class="align-middle">Games <br> <small>Wins / Played (GWP)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in completedRound.ranking" ng-class="row.you ? 'bg-info' : ''">
                                        <td>{{row.rank}}</td>
                                        <td>{{row.group}}</td>
                                        <td>
                                            <a ng-href="#!profile/{{row.playerId}}">
                                                {{row.displayName}} <span ng-show="row.you"
                                                    class="badge rounded-pill bg-danger text-light">You</span>
                                            </a>
                                        </td>
                                        <td><b>{{row.totalPoints}}</b> <small>({{row.matchesPoints}} / +{{row.achievementsPoints}})</small></td>
                                        <td>{{row.OMP}}% / {{row.GWP}}% / {{row.OGP}}%</td>
                                        <td>{{row.matchesWon}} / {{row.matchesPlayed}} ({{row.MWP}}%)</td>
                                        <td>{{row.gamesWon}} / {{row.gamesPlayed}} ({{row.GWP}}%)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div ng-hide="liveRoundName == 'None'" class="tab-pane fade show active" id="live" role="tabpanel" aria-labelledby="live-tab">
                        <span ng-hide="liveRanking.length > 0">
                            The ranking of this round is hidden.
                        </span>
                        
                        <div class="table-responsive" ng-show="liveRanking.length > 0">
                            <table class="table table-striped table-dark" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="align-middle">Rank</th>
                                        <th class="align-middle">Group</th>
                                        <th class="align-middle">Name</th>
                                        <th class="align-middle">Points <br> <small>(Matches / Achievements)</small></th>
                                        <th class="align-middle">Tiebreakers <br> <small>OMP / GWP / OGP</small></th>
                                        <th class="align-middle">Matches <br> <small>Wins / Played (MWP)</small></th>
                                        <th class="align-middle">Games <br> <small>Wins / Played (GWP)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in liveRanking" ng-class="row.you ? 'bg-info' : ''">
                                        <td>{{row.rank}}</td>
                                        <td>{{row.group}}</td>
                                        <td>
                                            <a ng-href="#!profile/{{row.playerId}}">
                                                {{row.displayName}} <span ng-show="row.you"
                                                    class="badge rounded-pill bg-danger text-light">You</span>
                                            </a>
                                        </td>
                                        <td><b>{{row.totalPoints}}</b> <small>({{row.matchesPoints}} / +{{row.achievementsPoints}})</small></td>
                                        <td>{{row.OMP}}% / {{row.GWP}}% / {{row.OGP}}%</td>
                                        <td>{{row.matchesWon}} / {{row.matchesPlayed}} ({{row.MWP}}%)</td>
                                        <td>{{row.gamesWon}} / {{row.gamesPlayed}} ({{row.GWP}}%)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>