<h1 class="mt-4"><i class="fas fa-shield-alt"></i> Admin -  Sets</h1>

<div class="spinner-border" ng-show="loading" role="status">
    <span class="sr-only">Loading...</span>
</div>

<div class="mb-4">
    <button class="btn btn-primary" type="button" ng-click="refreshSets()" ng-disabled="refreshing_sets">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-show="refreshing_sets"></span>
        Refresh Sets (from API)
      </button>
</div>

<div class="card mb-4" ng-hide="loading">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Import Sets
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table datatable="ng" class="table table-bordered" id="dataTable" dt-options="dtOptions" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Release year</th>
                        <th>Cards in DB</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Icon</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Release year</th>
                        <th>Cards in DB</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="row in result">
                        <td><img width="20" src="{{row.set_icon_svg_uri}}"></td> 
                        <td>{{row.set_code}}</td> 
                        <td>{{row.set_name}}</td>
                        <td>{{row.set_type}}</td>
                        <td>{{row.release_year}}</td>
                        <td>{{row.cards_in_db}}</td>
                        <td><button class="btn btn-primary" ng-show="row.cards_in_db==0" ng-click="importSet(row)">Import</button></td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
