<h1 class="mt-4"><i class="fas fa-shield-alt"></i> Admin - Tournament Dashboard</h1>
<h3 class="mt-2" style="color: #b1b1b1">{{tournamentName}}</h3>

<hr>

<div ng-include src="'partials/errormessage.html'"></div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-special mb-4">
            <div class="card-header text-center">
                <span ng-repeat="round in rounds">
                    <span ng-show="round.active" style="color: #4bc48b; font-size: 34px;"><i class="far fa-caret-square-right mr-4"></i></span>
                    <span ng-show="round.completed" style="color: #BFBFBF; font-size: 34px;"><i class="fas fa-check-square mr-4"></i></span>
                    <span ng-hide="round.completed || round.active" style="color: #BFBFBF; font-size: 34px;" ><i class="far fa-square mr-4"></i></span>
                </span>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="round in rounds" ng-class="round.active ? 'active-special' : ''">
                        <b>{{round.name}}</b>: <small>{{round.dateStart | date:'EEE, MMM d yyyy'}} - {{round.dateEnd | date:'EEE, MMM d yyyy'}}</small>

                        <span ng-show="round.completed" class="badge bg-secondary rounded-pill"><i class="fas fa-check"></i> Completed</span>
                        <span ng-show="round.active" class="badge rounded-pill text-dark" style="background-color: #4bc48b;">Active</span>
                        
                        <div class="float-right">
                            <div class="btn-group btn-group-sm" role="group">
                                <button class="btn btn-secondary" ng-hide="round.completed" ng-click="changeRoundCompleted(round.roundId, true)">
                                    <i class="fas fa-check-square"></i> End round
                                </button>
    
                                <button class="btn btn-secondary" ng-show="round.completed" ng-click="changeRoundCompleted(round.roundId, false)">
                                    <i class="far fa-square"></i> Open round
                                </button>
    
                                <button class="btn btn-danger" ng-show="round.active" ng-click="resetActiveRound()">
                                    <i class="far fa-square"></i> Deactivate
                                </button>
                                
                                <button class="btn btn-success" ng-hide="round.active" ng-click="setActiveRound(round.roundId)">
                                    <i class="far fa-caret-square-right"></i> Switch Active
                                </button>
                            </div>

                            <span ng-show="round.rankingVisible" class="ml-3"><i class="far fa-eye"></i> Visible Live Ranking</span>
                            <span ng-hide="round.rankingVisible" class="ml-3"><i class="far fa-eye-slash"></i> Hidden Live Ranking</span>
                            <button ng-show="round.rankingVisible" class="btn-sm btn-special" ng-click="hideRoundRanking(round.roundId)">Hide</button>
                            <button ng-hide="round.rankingVisible" class="btn-sm btn-special" ng-click="displayRoundRanking(round.roundId)">Unhide</button>
                            
                            <button class="btn-sm btn-special ml-3" ng-click="addPacksModal(round)">Add Card Packs</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <div class="card card-special mb-4">
            <div class="card-header text-center">
                Current active round status
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item item-special d-flex justify-content-between align-items-center">
                        <span><span style="color: #FF4940;"><i class="fas fa-circle mr-1"></i></span> Outstanding matches:</span> 
                        <b>{{(matches | filter : filterNotPlayed).length}}</b>
                    </li>
                    <li class="list-group-item item-special d-flex justify-content-between align-items-center">
                        <span><span style="color: #FF8540;"><i class="fas fa-pause-circle mr-1"></i></span> Played but not confirmed matches:</span>
                        <b>{{(matches | filter : filterPlayedNotConfirmed).length}}</b>
                    </li>
                    <li class="list-group-item item-special d-flex justify-content-between align-items-center">
                        <span><span style="color: #00B74A;"><i class="fas fa-check-circle mr-1"></i></span> Played and confirmed matches:</span>
                        <b>{{(matches | filter : filterPlayedAndConfirmed).length}}</b>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card card-special mb-4">
            <div class="card-header text-center">
                Overall tournament status
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item item-special d-flex justify-content-between align-items-center">
                        <span><span style="color: #FF4940;"><i class="fas fa-circle mr-1"></i></span> Outstanding matches:</span> 
                        <b>{{(allMatches | filter : filterNotPlayed).length}}</b>
                    </li>
                    <li class="list-group-item item-special d-flex justify-content-between align-items-center">
                        <span><span style="color: #FF8540;"><i class="fas fa-pause-circle mr-1"></i></span> Played but not confirmed matches:</span>
                        <b>{{(allMatches | filter : filterPlayedNotConfirmed).length}}</b>
                    </li>
                    <li class="list-group-item item-special d-flex justify-content-between align-items-center">
                        <span><span style="color: #00B74A;"><i class="fas fa-check-circle mr-1"></i></span> Played and confirmed matches:</span>
                        <b>{{(allMatches | filter : filterPlayedAndConfirmed).length}}</b>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <div class="card card-special mb-4">
            <div class="card-header">
                <span style="color: #FF4940;">
                    <i class="fas fa-circle mr-1"></i>
                </span>
                Outstanding matches
            </div>
            <div class="card-body">
                <p ng-show='outstandingMatches.length == 0' class="text-center">No outstanding matches <i class="far fa-thumbs-up"></i></p>

                <div ng-repeat="(key, value) in outstandingMatches = (allMatches | filter : filterNotPlayed | groupBy: 'roundName')">
                    <h4>{{key}} ({{value.length}})</h4>
                    <ul class="list-group list-group-flush" >
                        <li class="list-group-item item-special d-flex justify-content-between align-items-center" 
                        ng-repeat="row in value">
                            <span><b>{{row.p1DisplayName}}</b> <span ng-if="row.p1MTGArenaName">({{row.p1MTGArenaName}})</span> vs. <b>{{row.p2DisplayName}}</b> <span ng-if="row.p2MTGArenaName">({{row.p2MTGArenaName}})</span></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card card-special mb-4">
            <div class="card-header">
                <span style="color: #FF8540;">
                    <i class="fas fa-pause-circle mr-1"></i>
                </span>
                Played but not yet confirmed matches
            </div>
            <div class="card-body">
                <div ng-repeat="(key, value) in allMatches | filter : filterPlayedNotConfirmed | groupBy: 'roundName'">
                    <h4>{{key}}</h4>

                    <div class="list-group list-group-flush">
                        <div class="list-group-item item-special flex-column align-items-start" ng-repeat="row in value">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">{{row.p1DisplayName}} vs. {{row.p2DisplayName}}</h5>
                              <small>
                                <span class="badge bg-primary text-light">{{row.player1GamesWon}} : {{row.player2GamesWon}}</span>
                              </small>
                            </div>
                            <p class="mb-1 small">
                                {{row.p1DisplayName}} receives:
                                <span ng-repeat="card in row.tradedToP1 track by $index">
                                    <a uib-popover-template="'tplTradeToP1.html'" popover-placement="bottom" popover-trigger="'mouseenter'" class="badge badge-primary">{{card}}</a>
                                </span>
                            </p>
                            <p class="mb-1 small">
                                {{row.p2DisplayName}} receives: 
                                <span ng-repeat="card in row.tradedToP2 track by $index">
                                    <a uib-popover-template="'tplTradeToP2.html'" popover-placement="bottom" popover-trigger="'mouseenter'" class="badge badge-primary">{{card}}</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-alot">
    <div class="col-xl-12">
        <div class="card card-special mb-4">
            <div class="card-header">
                <span style="color: #00B74A;">
                    <i class="fas fa-check-circle mr-1"></i>
                </span>
                Played and confirmed matches
            </div>
            <div class="card-body">
                <div ng-repeat="(key, value) in allMatches | filter : filterPlayedAndConfirmed | groupBy: 'roundName'">
                    <h4>{{key}}</h4>

                    <div class="list-group list-group-flush">
                        <div class="list-group-item item-special flex-column align-items-start" ng-repeat="row in value">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">{{row.p1DisplayName}} vs. {{row.p2DisplayName}}</h5>
                              <small>
                                <span class="badge bg-primary text-light">{{row.player1GamesWon}} : {{row.player2GamesWon}}</span>
                              </small>
                            </div>
                            <p class="mb-1 small">
                                {{row.p1DisplayName}} receives:
                                <span ng-repeat="card in row.tradedToP1 track by $index">
                                    <a uib-popover-template="'tplTradeToP1.html'" popover-placement="bottom" popover-trigger="'mouseenter'" class="badge badge-primary">{{card}}</a>
                                </span>
                            </p>
                            <p class="mb-1 small">
                                {{row.p2DisplayName}} receives: 
                                <span ng-repeat="card in row.tradedToP2 track by $index">
                                    <a uib-popover-template="'tplTradeToP2.html'" popover-placement="bottom" popover-trigger="'mouseenter'" class="badge badge-primary">{{card}}</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-special" id="addPacks" tabindex="-1" role="dialog" aria-labelledby="addPacksModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPacksModal">Manage packs for round TODO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item item-special" ng-repeat="participant in participantPacks">
                        <b>{{participant.displayName}}</b> [{{participant.packCards.length}} cards]
                        
                        <div ng-hide="participant.packCards.length > 0">
                            <form ng-submit="addPack(participant.accountId, $index)" class="form-inline" role="form">
                                <input class="form-control" type="text" ng-model="newPack.packString[$index]">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>

                        <div class="d-flex align-content-start flex-wrap" ng-show="participant.packCards.length > 0">
                            <img ng-repeat="card in participant.packCards" ng-src="{{card.cardImageUriLow}}" style="white-space: normal;" width="90px" class="img-responsive card-rounded">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="tplTradeToP1.html">
    <div class="popover-content">
        <img ng-src="{{row.tradedToP1Images[$index]}}" width="100%" class="img-responsive">
    </div>
</script>

<script type="text/ng-template" id="tplTradeToP2.html">
    <div class="popover-content">
        <img ng-src="{{row.tradedToP2Images[$index]}}" width="100%" class="img-responsive">
    </div>
</script>
