<h1 class="mt-4">Tournaments</h1>

<hr>

<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-dice-d20 mr-1"></i>
                Currently Running Tournaments
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="#!tournament/{{row.tournament_id}}" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="row in result | filter : filterRunning">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{row.tournament_name}}</h5>
                            <small>{{row.start_date}} - {{row.end_date}}</small>
                        </div>
                        <p class="mb-1">{{row.round_count}} rounds</p>
                        <small>{{row.participant_count}} participants</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-dice-d20 mr-1"></i>
                Future Tournaments
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="#!tournament/{{row.tournament_id}}" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="row in result | filter : filterFuture">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{row.tournament_name}}</h5>
                            <small>{{row.start_date}} - {{row.end_date}}</small>
                        </div>
                        <p class="mb-1">{{row.round_count}} rounds</p>
                        <small>{{row.participant_count}} participants</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-dice-d20 mr-1"></i>
                Previous Tournaments
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="#!tournament/{{row.tournament_id}}" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="row in result | filter : filterPast">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{row.tournament_name}}</h5>
                            <small>{{row.start_date}} - {{row.end_date}}</small>
                        </div>
                        <p class="mb-1">{{row.round_count}} rounds</p>
                        <small>{{row.participant_count}} participants</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>