<h1 class="mt-4">Tournaments</h1>

<hr>

<div class="row">
    <div class="col-xl-6">
        <div class="card text-white bg-info mb-4">
            <div class="card-header">
                <i class="fas fa-dice-d20 mr-1"></i>
                Currently Running Tournaments
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-dice-d20 mr-1"></i>
                Future Tournaments
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-dice-d20 mr-1"></i>
                Previous Tournaments
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>