<h1 class="mt-4">Shared Card Pool</h1>
<h3 class="mt-2" style="color: #b1b1b1">{{displayName}}</h3>
<hr>

<div ng-include src="'partials/errormessage.html'"></div>

<div class="row">
    <div class="col-xl-12">
        <a class="btn btn-special mb-4" href="#!tournament/{{tournamentId}}"><i class="fas fa-arrow-left"></i> Back to Tournament Overview</a>
    </div>
</div>

<div class="row mb-alot" ng-hide="loadingPool">
    <div class="col-xl-12">
        <div class="card card-special mb-4">
            <div class="card-header bg-2 text-center">
                Shared Card Pool from {{displayName}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <h2 class="mt-4">Filters</h2>

                        <div class="d-flex align-content-start flex-wrap">
                            <div ng-repeat="item in itemsRarity" class="mr-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" ng-model="filterItemsRarity[item.name]">
                                    <label class="form-check-label" for="defaultCheck1">
                                        {{item.displayName}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-xl-4">
                        <div class="form-group">
                            <label for="cardQuery">Card Name</label>
                            <input class="form-control" type="text" id="cardQuery" placeholder="Filter by card name..." aria-label="Search" ng-model="cardQuery">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12">
                        <div ng-repeat="(key, cards) in enrichedPool | filter: rarityFilter | filter: { name: cardQuery } | groupBy: 'cardType'">
                            <h3 class="mt-4">{{key}} ({{sum(cards, 'numberOfCards')}})</h3>

                            <div class="d-flex align-content-start flex-wrap">
                                <button ng-repeat="card in cards | orderBy:['colorIdentity', '-rarityNumeric']" ng-click="toggleMarkCard(card.idx)" ng-class="card.marked ? 'card-marked' : ''" style="white-space: normal;" type="button" class="btn btn-special2 p-0 m-2 pool-card includer" uib-popover-template="'cardPopover.html'" 
                                popover-placement="bottom" popover-trigger="'mouseenter'">
                                    <img ng-src="{{card.imageUriLow}}" width="120px" class="img-responsive card-rounded">
                                    <img ng-show="card.imageUriLowBack" ng-src="{{card.imageUriLowBack}}" width="90px" class="img-responsive card-rounded">
                                    <span class="badge-corner" ng-show="card.numberOfCards > 1">{{card.numberOfCards}}x</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="cardPopover.html">
    <div class="popover-content popover-double-wide" ng-show="card.imageUriBack">
        <div class="row no-gutters">
            <div class="col-xl-6">
                <img ng-src="{{card.imageUri}}" width="100%" class="img-responsive">
            </div>
            <div class="col-xl-6">
                <img ng-src="{{card.imageUriBack}}" width="100%" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="popover-content" ng-hide="card.imageUriBack">
        <div class="row" ng-hide="card.imageUriBack">
            <div class="col-xl-12">
                <img ng-src="{{card.imageUri}}" width="100%" class="img-responsive">
            </div>
        </div>
    </div>
</script>
