<h1 class="mt-4">Card Pool</h1>

<hr>

<div ng-include src="'partials/errormessage.html'"></div>

<div class="row">
    <div class="col-xl-12">
        <a class="btn btn-special mb-4" href="#!tournament/{{tournamentId}}"><i class="fas fa-arrow-left"></i> Back to Tournament Overview</a>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <div class="card card-special mb-4">
            <div class="card-header bg-1 text-center">
                Card Pool Management
            </div>
            <div class="card-body">
                <div class="row" ng-hide="shareStatus.poolPublic">
                    <div class="col-xl-12" >
                        <form ng-submit="sharePool()" role="form">
                            <div class="form-row">
                                <div class="col">
                                    <input class="form-control" type="text" ng-model="poolSharing.pin" readonly>
                                </div>
                                <div class="col">
                                    <a class="btn btn-special mb-4" ng-click="randomizePin()">Randomize PIN</a>
                                    <button type="submit" class="btn btn-special float-right"><i class="fas fa-share"></i> Share</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" ng-show="shareStatus.poolPublic">
                    <div class="col-xl-6">
                        You are currently sharing your pool with the PIN: <strong>{{shareStatus.poolPinCode}}</strong>
                    </div>
                    <div class="col-xl-6">
                        <button class="btn btn-special float-right" ng-click="stopSharePool()"><i class="far fa-stop-circle"></i> Stop Sharing</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card card-special mb-4">
            <div class="card-header bg-1 text-center">
                Manage Initial Pool
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <form ng-submit="importInitialCardPool()" role="form">
                            <div class="form-group">
                                <label for="tournamentName">Card Pool String</label>
                                <textarea class="form-control" id="cardPoolString"
                                        placeholder="Format: 2 Struggle for Skemfar (KHM) 196" ng-model="pool.cardPoolString" rows="5"></textarea>
                                <small id="cardPoolStringHelp" class="form-text text-muted">Copy from MTG Arena. Your current initial card pool will be overwritten when you import a new one.</small>
                            </div>
        
                            <button type="submit" class="btn btn-special float-right">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-show="importing"></span>
                                Import
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="alert alert-success mt-4" role="alert" ng-show="message">
                            {{message}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="loadingPool">
    <div class="col-xl-12">
        <div class="spinner-border" ng-show="loadingSets" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="row" ng-hide="loadingPool">
    <div class="col-xl-12">
        <div class="card card-special mb-4">
            <div class="card-header bg-2 text-center">
                Your Initial Card Pool
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div ng-repeat="(key, cards) in enrichedPool | groupBy: 'cardType'">
                            <h3 class="mt-4">{{key}}</h3>

                            <div class="d-flex align-content-start flex-wrap">
                                <button ng-repeat="card in cards | orderBy:['colorIdentity', '-rarityNumeric']" style="white-space: normal;" type="button" class="btn btn-primary p-3 m-2 pool-card" uib-popover-template="'cardPopover.html'" 
                                popover-placement="bottom" popover-trigger="'mouseenter'" class="badge badge-primary" ng-class="'color-identity-' + card.colorIdentity">
                                    {{card.name}}
                                    <i class="fas fa-square" ng-class="card.rarity"></i>
                                    <span class="badge badge-light">{{card.numberOfCards}}x</span>
                                    <br>
                                    <span class="small">({{card.typeLine}})</span>
                                    <img class="ml-1" width="18px" src="img/{{m}}.png" ng-repeat="m in card.mana track by $index">
                                    <span class="badge badge-primary badge-pill"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="cardPopover.html">
    <div class="popover-content">
        <img ng-src="{{card.imageUri}}" width="250px" class="img-responsive">
    </div>
</script>