<h1 class="mt-4">Card Pool</h1>

<hr>

<div ng-include src="'partials/errormessage.html'"></div>

<div class="row">
    <div class="col-xl-12">
        <a class="btn btn-special mb-4" href="#!tournament/{{tournamentId}}"><i class="fas fa-arrow-left"></i> Back to Tournament Overview</a>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <div class="card card-special mb-4">
            <div class="card-header bg-1 text-center">
                Card Pool Management
            </div>
            <div class="card-body">
                <div class="row" ng-hide="shareStatus.poolPublic">
                    <div class="col-xl-12" >
                        <form ng-submit="sharePool()" role="form">
                            <div class="form-row">
                                <div class="col">
                                    <input class="form-control" type="text" ng-model="poolSharing.pin" readonly>
                                </div>
                                <div class="col">
                                    <a class="btn btn-sm align-middle btn-special mb-4" ng-click="randomizePin()">Randomize PIN</a>
                                    <button type="submit" class="btn btn-special float-right"><i class="fas fa-share"></i> Share</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" ng-show="shareStatus.poolPublic">
                    <div class="col-xl-8">
                        You are currently sharing your pool with the PIN: <br><br>
                        <span class="border" style="letter-spacing: 4px; padding: 5px;"><strong>{{shareStatus.poolPinCode}}</strong></span>
                    </div>
                    <div class="col-xl-4">
                        <button class="btn btn-special float-right" ng-click="stopSharePool()"><i class="far fa-stop-circle"></i> Stop Sharing</button>
                    </div>
                </div>
                <div class="row" ng-show="shareStatus.poolPublic">
                    <div class="col-xl-10">
                        <small><a href="{{shareStatus.shareUrl}}">{{shareStatus.shareUrl}}</a></small> 
                    </div>
                    <div class="col-xl-2">
                        <button class="btn btn-special btn-xs float-right" ng-click="copyUrlToClipboard()">Copy URL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card card-special mb-4">
            <div class="card-header bg-1 text-center">
                Manage Initial Pool
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <form ng-submit="importInitialCardPool()" role="form">
                            <div class="form-group">
                                <label for="tournamentName">Card Pool String</label>
                                <textarea class="form-control" id="cardPoolString"
                                        placeholder="Format: 2 Struggle for Skemfar (KHM) 196" ng-model="pool.cardPoolString" rows="5"></textarea>
                                <small id="cardPoolStringHelp" class="form-text text-muted">Copy from MTG Arena. Your current initial card pool will be overwritten when you import a new one. Make shure your client language is set to English.</small>
                            </div>
        
                            <button type="submit" class="btn btn-special float-right">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-show="importing"></span>
                                Import
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="alert alert-success mt-4" role="alert" ng-show="message">
                            {{message}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="loadingPool">
    <div class="col-xl-12">
        <div class="spinner-border" ng-show="loadingSets" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="row" ng-hide="loadingPool">
    <div class="col-xl-12">
        <div class="card card-special mb-4">
            <div class="card-header bg-2 text-center">
                Your Card Pool
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <h2 class="mt-4">Filters</h2>

                        <div class="d-flex align-content-start flex-wrap">
                            <div ng-repeat="item in itemsRarity" class="mr-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" ng-model="filterItemsRarity[item.name]">
                                    <label class="form-check-label" for="defaultCheck1">
                                        {{item.displayName}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div ng-repeat="(key, cards) in enrichedPool | filter: rarityFilter | groupBy: 'cardType'">
                            <h3 class="mt-4">{{key}} ({{cards.length}})</h3>

                            <div class="d-flex align-content-start flex-wrap">
                                <button ng-repeat="card in cards | orderBy:['colorIdentity', '-rarityNumeric']" style="white-space: normal;" type="button" class="btn btn-special2 p-0 m-2 pool-card includer" uib-popover-template="'cardPopover.html'" 
                                popover-placement="bottom" popover-trigger="'mouseenter'">
                                    <img ng-src="{{card.imageUriLow}}" width="120px" class="img-responsive card-rounded">
                                    <img ng-show="card.imageUriLowBack" ng-src="{{card.imageUriLowBack}}" width="90px" class="img-responsive card-rounded">
                                    <span class="badge-corner" ng-show="card.numberOfCards > 1">{{card.numberOfCards}}x</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-hide="loadingPool">
    <div class="col-xl-12">
        <div class="card card-special mb-4">
            <div class="card-header bg-2 text-center">
                Received Card Packs
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div ng-repeat="(key, cards) in enrichedReceivedCardPacks | groupBy: 'roundName'">
                            <h3 class="mt-4">{{key}} ({{cards.length}})</h3>

                            <div class="d-flex align-content-start flex-wrap">
                                <button ng-repeat="card in cards | orderBy:['colorIdentity', '-rarityNumeric']" style="white-space: normal;" type="button" class="btn btn-special2 p-0 m-2 pool-card includer" uib-popover-template="'cardPopover.html'" 
                                popover-placement="bottom" popover-trigger="'mouseenter'">
                                    <img ng-src="{{card.imageUriLow}}" width="120px" class="img-responsive card-rounded">
                                    <img ng-show="card.imageUriLowBack" ng-src="{{card.imageUriLowBack}}" width="90px" class="img-responsive card-rounded">
                                    <span class="badge-corner" ng-show="card.numberOfCards > 1">{{card.numberOfCards}}x</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-hide="loadingPool">
    <div class="col-xl-6">
        <div class="card card-special mb-4">
            <div class="card-header bg-2 text-center">
                <i class="fas fa-people-arrows"></i> Trading History - <i class="fas fa-sign-in-alt"></i> Received cards added to your pool
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="d-flex align-content-start flex-wrap">
                            <button ng-repeat="card in enrichedIncomingTrades" style="white-space: normal;" type="button" class="btn btn-special2 p-0 m-2 pool-card includer" uib-popover-template="'cardPopover.html'" 
                            popover-placement="bottom" popover-trigger="'mouseenter'">
                                <img ng-src="{{card.imageUriLow}}" width="120px" class="img-responsive card-rounded">
                                <img ng-show="card.imageUriLowBack" ng-src="{{card.imageUriLowBack}}" width="90px" class="img-responsive card-rounded">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-special mb-4">
            <div class="card-header bg-3 text-center">
                <i class="fas fa-people-arrows"></i> Trading History - <i class="fas fa-sign-out-alt"></i> Given cards removed from your pool
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="d-flex align-content-start flex-wrap">
                            <button ng-repeat="card in enrichedOutgoingTrades" style="white-space: normal;" type="button" class="btn btn-special2 p-0 m-2 pool-card includer" uib-popover-template="'cardPopover.html'" 
                            popover-placement="bottom" popover-trigger="'mouseenter'">
                                <img ng-src="{{card.imageUriLow}}" width="120px" class="img-responsive card-rounded">
                                <img ng-show="card.imageUriLowBack" ng-src="{{card.imageUriLowBack}}" width="90px" class="img-responsive card-rounded">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-alot" ng-hide="loadingPool">
    <div class="col-xl-6 opacity-40">
        <div class="card card-special mb-4">
            <div class="card-header bg-2 text-center">
                <i class="fas fa-people-arrows"></i> Planned Trades - <i class="fas fa-sign-in-alt"></i> Receiving cards added to your pool
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="d-flex align-content-start flex-wrap">
                            <button ng-repeat="card in enrichedIncomingTradesPlanned" style="white-space: normal;" type="button" class="btn btn-special2 p-0 m-2 pool-card includer" uib-popover-template="'cardPopover.html'" 
                            popover-placement="bottom" popover-trigger="'mouseenter'">
                                <img ng-src="{{card.imageUriLow}}" width="120px" class="img-responsive card-rounded">
                                <img ng-show="card.imageUriLowBack" ng-src="{{card.imageUriLowBack}}" width="90px" class="img-responsive card-rounded">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 opacity-40">
        <div class="card card-special mb-4">
            <div class="card-header bg-3 text-center">
                <i class="fas fa-people-arrows"></i> Planned Trades - <i class="fas fa-sign-out-alt"></i> Given cards removed from your pool
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="d-flex align-content-start flex-wrap">
                            <button ng-repeat="card in enrichedOutgoingTradesPlanned" style="white-space: normal;" type="button" class="btn btn-special2 p-0 m-2 pool-card includer" uib-popover-template="'cardPopover.html'" 
                            popover-placement="bottom" popover-trigger="'mouseenter'">
                                <img ng-src="{{card.imageUriLow}}" width="120px" class="img-responsive card-rounded">
                                <img ng-show="card.imageUriLowBack" ng-src="{{card.imageUriLowBack}}" width="90px" class="img-responsive card-rounded">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="cardPopover.html">
    <div class="popover-content popover-double-wide" ng-show="card.imageUriBack">
        <div class="row no-gutters">
            <div class="col-xl-6">
                <img ng-src="{{card.imageUri}}" width="100%" class="img-responsive">
            </div>
            <div class="col-xl-6">
                <img ng-src="{{card.imageUriBack}}" width="100%" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="popover-content" ng-hide="card.imageUriBack">
        <div class="row" ng-hide="card.imageUriBack">
            <div class="col-xl-12">
                <img ng-src="{{card.imageUri}}" width="100%" class="img-responsive">
            </div>
        </div>
    </div>
</script>