<h1 class="mt-4">Card Pool</h1>

<hr>

<div ng-include src="'partials/errormessage.html'"></div>

<div class="row">
    <div class="col-xl-12">
        <a class="btn btn-special mb-4" href="#!tournament/{{tournamentId}}"><i class="fas fa-arrow-left"></i> Back to Tournament Overview</a>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-special mb-4">
            <div class="card-header bg-1 text-center">
                Import Initial Pool
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <form ng-submit="importInitialCardPool()" role="form">
                            <div class="form-group">
                                <label for="tournamentName">Card Pool</label>
                                <textarea class="form-control" id="cardPoolString"
                                        placeholder="Format: 2 Struggle for Skemfar (KHM) 196" ng-model="pool.cardPoolString" rows="5"></textarea>
                                <small id="cardPoolStringHelp" class="form-text text-muted">Copy from MTG Arena</small>
                            </div>
        
                            <button type="submit" class="btn btn-special float-right">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" ng-show="importing"></span>
                                Import
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="alert alert-success mt-4" role="alert" ng-show="message">
                            {{message}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="loadingPool">
    <div class="col-xl-12">
        <div class="spinner-border" ng-show="loadingSets" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="row" ng-hide="loadingPool">
    <div class="col-xl-12">
        <div class="card card-special mb-4">
            <div class="card-header bg-2 text-center">
                Pool
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div ng-repeat="(key, cards) in enrichedPool | groupBy: 'cardType'">
                            <h3 class="mt-4">{{key}}</h3>

                            <ul class="list-group">
                                <li class="list-group-item item-special align-items-center" ng-repeat="card in cards">
                                    {{card.name}} ({{card.typeLine}})
                                    <img class="ml-1" width="20px" src="img/{{m}}.png" ng-repeat="m in card.mana track by $index">
                                    <span class="badge badge-primary badge-pill">{{card.numberOfCards}}x</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
