<h1 class="mt-4">Rules</h1>

<hr>

<p>The following rules are the rules currently in place. Previously completed tournaments could have rules deviating from these rules.</p>

<h3>TODO</h3>
<p>TODO</p>

<hr>

<h3>TODO</h3>
<p>TODO</p>

<hr>

<h3>Active Achievements</h3>

<h4>Easy</h4>
<span class="badge badge-pill badge-success" style="font-size: 10pt;">+0.5 Points</span>

<div class="list-group list-group-flush">
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Deadly Life</b><br>
        <span>Kill yourself by going to 0 or less life.</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Deadly Library</b><br>
        <span>Kill yourself by having to draw but not having any cards left.</span>
    </div>
</div>

<h4>Medium</h4>
<span class="badge badge-pill badge-success" style="font-size: 10pt;">+1.0 Points</span>

<div class="list-group list-group-flush">
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Revenge</b><br>
        <span>Win a game against a previous winner of the MoF League.</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Risky Life</b><br>
        <span>Win a game with 1 life left.</span>
    </div>
</div>
