<h1 class="mt-4">Rules</h1>

<hr>

<p>The following rules are the rules currently in place. Previously completed tournaments could have rules deviating from these rules.</p>

<h3>Introduction</h3>
<p>The Mansion of Fire Sealed League is a way for you to experience MTG sets within a limited group of people over a limited period of time with a limited card pool.</p>
<p>If you have any questions or problems, before or during the League, feel free to contact the organizer Florian directly. We are all here to play Magic and have fun, I’m sure we’ll find agreeable solutions.</p>

<hr>

<h3>Links</h3>
<p>Mansion of Fire MTG Telegram Chats:
    <ul>
        <li>Sealed League Announcement Channel: <a href="https://t.me/joinchat/VDL2KZO_rq9Oeoqu">https://t.me/joinchat/VDL2KZO_rq9Oeoqu</a></li>
        <li>Sealed League Chat Group: <a href="https://t.me/joinchat/ThUhMwca2gsJhRuJ">https://t.me/joinchat/ThUhMwca2gsJhRuJ</a></li>
        <li>General Magic Group: <a href="https://t.me/joinchat/JQnPWhM0OAMC12emIxvkAQ">https://t.me/joinchat/JQnPWhM0OAMC12emIxvkAQ</a></li>
    </ul>
</p>
<p>
    Mansion Of Fire Discord: <a href="https://discord.gg/dEM5qwvKXs">https://discord.gg/dEM5qwvKXs</a>
</p>

<hr>

<h3>Rules</h3>
<p>
    <span style="font-size: 17pt; color:hotpink;">Duration:</span>
    <ul>
        <li>Season 4: Innistrad: Midnight Hunt</li>
        <li>20.09.2021 - 10.10.2021</li>
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Deck Size:</span>
    <ul>
        <li>40 Cards & Unlimited Sideboard, all from your Pool</li>
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Entry Fee:</span>
    <ul>
        <li>6.- CHF</li>
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Card Pool:</span>
    <ul>
        <li>6 Boosters from a Sealed on MTG Arena.</li>
        <li><strong>Decide you are going to use the cards for the League before opening them!</strong></li>
        <li>After week 1 & 2 you will receive another booster.</li>
            
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Trading:</span>
    <ul>
        <li>After an official match, you can trade up to three cards each. Except after the final match in your final week, even if your opponent will have more matches to play.</li>
        <li>During the first week you cannot use the traded cards. After the first week, you can use traded cards right away.</li>            
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Matchmaking:</span>
    <ul>
        <li>4 official best of three matches per week, 2 against members close to your ranking and 2 against random opponents. The random opponents are weighted towards opponents you’ve not played against and opponents close to your ranking.</li>
        <li>You are responsible to organize with your opponents each week.</li>
        <li>3 Points for winner and <a href="https://boardgames.stackexchange.com/questions/11183/what-is-the-meaning-of-omp-gwp-ogp">official DCI tie-breakers.</a></li>
        <li>Freeplay after official games and against any other member of the League.</li>
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Prizes:</span>
    <ol>
        <li>Place: &nbsp; &nbsp; &nbsp; Playmat with Innistrad: Midnight Hunt Image</li>
        <li>Place: &nbsp; &nbsp; &nbsp; 100 Sleeves (Choose Texture and Color) + 1 Innistrad: Midnight Hunt Set Booster</li>
        <li>Place: &nbsp; &nbsp; &nbsp; 100 Sleeves (Choose Texture and Color)</li>
        <li>Place: &nbsp; &nbsp; &nbsp; 1 Innistrad: Midnight Hunt Set Booster + Free Entry to Season 5</li>
        <li>Place: &nbsp; &nbsp; &nbsp; Free Entry to Season 5</li>
        <li>Place: &nbsp; &nbsp; &nbsp; Free Entry to Season 5</li>
    </ol>
</p>

<hr>

<h3>Active Achievements</h3>

<h4>Hard</h4>
<span class="badge badge-pill badge-success" style="font-size: 10pt;">+3.0 Points</span>

<div class="list-group list-group-flush">
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Perfect Week</b><br>
        <span>Win every game for a week.</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Rainbows</b><br>
        <span>Win a game in which you've cast a spell of each color (gold cards count for both colors).</span>
    </div>
</div>

<h4>Intermediate</h4>
<span class="badge badge-pill badge-success" style="font-size: 10pt;">+2.0 Points</span>

<div class="list-group list-group-flush">
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Spotless</b><br>
        <span>Win a game without any cards in your graveyard, but at least one card must have entered your graveyard during the game</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Revenge</b><br>
        <span>Win a game against a previous winner of the MoF League.</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Triskaideka</b><br>
        <span>Win a game with exactly 13 permanent on your side of the battlefield.</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Triskaidekaphobia</b><br>
        <span>Lose a game with exactly 13 permanent on your side of the battlefield without conceding.</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Monocolor</b><br>
        <span>Win a game in which you’ve cast only spells of one color (gold cards count as two colors, preventing this achievement).</span>
    </div>
</div>

<h4>Medium</h4>
<span class="badge badge-pill badge-success" style="font-size: 10pt;">+1.0 Points</span>

<div class="list-group list-group-flush">
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Risky Life</b><br>
        <span>Win a game with 1 life left.</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Covenant</b><br>
        <span>Win a game while having Coven.</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Flooded</b><br>
        <span>Win a game with 10 or more lands on your side of the battlefield.</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Screwed</b><br>
        <span>Win a game with 3 or less lands on your side of the battlefield.</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Tribal</b><br>
        <span>Win a game in which all creatures you've cast share a creature type.</span>
    </div>
</div>

<h4>Easy</h4>
<span class="badge badge-pill badge-success" style="font-size: 10pt;">+0.5 Points</span>

<div class="list-group list-group-flush">
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Night Owl</b><br>
        <span>Wing a game at night (ingame).</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Early Bird</b><br>
        <span>Win a game during the day (ingame).</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Deadly Life</b><br>
        <span>Kill yourself by going to 0 or less life.</span>
    </div>
    <div class="list-group-item item-special flex-column align-items-start">
        <b>Deadly Library</b><br>
        <span>Kill yourself by having to draw but not having any cards left.</span>
    </div>
</div>

<p>Please tell your opponent during the match if you’ve scored a Achievement. This way your opponent can easily verify that you’ve done so. This way there won’t be any confusion when confirming the match results, trades & achievements.</p>

<hr>

<h3>Participation</h3>

<p>
    <span style="font-size: 17pt; color:hotpink;">Mansion of Fire Tournament Tool:</span>
    <ul>
        <li>Track, export and share your Pool, including Trades & new Boosters.</li>
        <li>Report Match Results, Trades and Achievements.</li>
        <li>Find your pairings for the official matches at the beginning of each week.</li>
        <li>See current rankings & rankings of past seasons</li>
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Signing Up:</span>
    <ul>
        <li>To sign up, vote “Yes” on the poll posted in the general Telegram group.</li>
        <li>Send the organizer your entry fee before the start of the League, preferably Twint.</li>
        <li>Join the MoF Sealed League Telegram group as well as the Discord server linked on the first page.</li>
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Initial Card Pool:</span>
    <ul>
        <li>Start a Innistrad: Midnight Hunt Sealed on MTG Arena</li>
        <li>Open your pool between the 18.09 and 20.09, after sending your entry fee.</li>
        <li><strong>Decide you are going to use this pool for the League before opening it!</strong></li>
        <li>Hit “Save to Decks” in the event before you claim your prizes. Then “Export” the deck you just saved to your clipboard. Finally, log into your account in the MoF Tournament Tool and head to your pool. There you can paste and save your pool.</li>
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Scheduling:</span>
    <ul>
        <li>You are responsible to organize with your opponents each week.</li>
        <li>Do it early and inform your opponents if you are on holidays and not reachable.</li>
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Playing:</span>
    <ul>
        <li>Join the Mansion of Fire Discord server for some friendly banter during the games.</li>
        <li>Send a direct challenge on MTG Arena: 40 cards, best-of-three & coin-flip.</li>
        <li>After the match, one of you has to enter the results on the MoF Tournament Tool, including trades & achievements. The other has to confirm this data.</li>
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Trading:</span>
    <ul>
        <li>Discuss trades with your opponent directly after your official match.</li>
        <li>If you come to an agreement you can enter and confirm the trades like the results.</li>
        <li>After the first week they become part of your card pool and can be used.</li>
        <li>You can share your pool in the MoF Tournament Tool with your opponent. Click "Share Your Pool" and send your opponent the generated link. Once you are done, you can click “Stop Sharing” to hide your pool again.</li>
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Gaining Packs:</span>
    <ul>
        <li>The packs you receive will be automatically added to your card pool.</li>
        <li>You can see the cards you received from a booster at the bottom of your pool.</li>
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Deckbuilding:</span>
    <ul>
        <li>Export your pool from the MoF Tournament Tool.</li>
        <li>Import in MTG Arena, then click “Deck Details” and select deck type “Limited”.</li>
        <li>Change the layout of the deckbuilder so that you can see your deck on the bottom left side and your sidedeck on the right.</li>
        <li>Carefully drag & drop cards between the deck & sidedeck. If you click a card it will move to your collection - you'll have to fix that again, so be careful.</li>
        <li>If all else fails, start a new by exporting & importing your pool again.</li>
            
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Staying up to Date:</span>
    <ul>
        <li>The MoF tournament tool has a lot of information, update live as matches are reported.</li>
        <li>Announcements and reminders will be posted to the Telegram Announcements channel.</li>
    </ul>
</p>

<p>
    <span style="font-size: 17pt; color:hotpink;">Final Week:</span>
    <ul>
        <li>During the final week the rankings will not update anymore in order to keep the final ranking secret.</li>
        <li>There will be a survey during that week to determine the best date after 08.08.2021 to hold a live rankings announcement and award ceremony on the Discord server. Every member has a chance to talk about their deck and experience. Participation is of course optional and you will receive your prizes regardless.</li>
    </ul>
</p>
