<h1 class="mt-4">{{tournamentName}}</h1>

<hr>

<div class="row" ng-show="currentRound < 0">
    <div class="col-xl-6">
        <p>There is no round currently running...</p>
    </div>
</div>


<div class="row" ng-hide="currentRound < 0">
    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header">
                <span style="color: red;">
                    <i class="fas fa-circle mr-1"></i>
                </span>
                Your outstanding matches this round
            </div>
            <div class="card-body" >
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="row in matches | filter : filterNotPlayed">
                        {{row.p1_display_name}} vs. {{row.p2_display_name}}

                        <form class="form-inline">
                            <div class="form-group mb-2">
                              <label for="resultp1" class="sr-only">Result P1</label>
                              <input type="number" class="form-control input-sm" id="resultp1" min="0" max="2">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                              <label for="resultp2" class="sr-only">Result P2</label>
                              <input type="number" class="form-control input-sm" id="resultp2" min="0" max="2">
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Send Request</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <span style="color: orange;">
                    <i class="fas fa-pause-circle mr-1"></i>
                </span>
                Played but not yet confirmed matches
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="row in matches | filter : filterPlayedNotConfirmed">
                        {{row.p1_display_name}} vs. {{row.p2_display_name}}
                        <span>
                            <span class="badge bg-primary text-light">{{row.player_1_games_won}} : {{row.player_2_games_won}}</span>
                            <span ng-show="row.reporter_you" class="badge rounded-pill bg-warning text-dark">Opponent pending</span>
                            <span ng-hide="row.reporter_you" class="badge rounded-pill bg-danger text-light">You pending</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <span style="color: green;">
                    <i class="fas fa-check-circle mr-1"></i>
                </span>
                Played and confirmed matches
            </div>
            <div class="card-body" >
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="row in matches | filter : filterPlayedAndConfirmed">
                        {{row.p1_display_name}} vs. {{row.p2_display_name}}
                        <span class="badge bg-primary rounded-pill text-light">{{row.player_1_games_won}} : {{row.player_2_games_won}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
