<h1 class="mt-4">{{tournamentName}}</h1>
<h3 class="mt-2" style="color: #b1b1b1">Tournament Overview</h3>

<hr>

<div ng-include src="'partials/errormessage.html'"></div>

<div class="row">
    <div class="col-xl-6">
        <div class="card card-special mb-4">
            <div class="card-header bg-1 text-center">
                <span ng-repeat="round in rounds">
                    <span ng-show="round.active" style="color: #4bc48b; font-size: 34px;"><i class="far fa-caret-square-right mr-4"></i></span>
                    <span ng-show="round.completed" style="color: #BFBFBF; font-size: 34px;"><i class="fas fa-check-square mr-4"></i></span>
                    <span ng-hide="round.completed || round.active" style="color: #BFBFBF; font-size: 34px;" ><i class="far fa-square mr-4"></i></span>
                </span>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" ng-repeat="round in rounds" ng-class="round.active ? 'active-special' : ''">
                        <b>{{round.name}}</b>: <small>{{round.dateStart | date:'EEE, MMM d yyyy'}} -
                            {{round.dateEnd | date:'EEE, MMM d yyyy'}}</small>
                        
                        <span ng-show="round.completed" class="badge bg-secondary rounded-pill"><i class="fas fa-check"></i> Completed</span>
                        <span ng-show="round.active" class="badge rounded-pill text-dark" style="background-color: #4bc48b;">Active</span>
                    </li>
                </ul>

                <div class="d-flex justify-content-center mt-5">
                    <a href="#!ranking/{{tournamentId}}" class="btn btn-special mr-2"><i class="fas fa-list-ol"></i> Show Ranking</a>
                    <a href="#!pool/{{tournamentId}}" class="btn btn-special ml-2"><i class="fas fa-dice-d6"></i> Show Card Pool</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6" ng-show="currentRound">
        <div class="card card-special mb-4">
            <div class="card-header bg-1 text-center">
                Current Round Stats
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item item-special d-flex justify-content-between align-items-center">
                        <span><span style="color: #FF4940;"><i class="fas fa-circle mr-1"></i></span> Your outstanding matches:</span> 
                        <b>{{(matches | filter : filterNotPlayed).length}}</b>
                    </li>
                    <li class="list-group-item item-special d-flex justify-content-between align-items-center">
                        <span><span style="color: #FF8540;"><i class="fas fa-pause-circle mr-1"></i></span> Played but not confirmed matches:</span>
                        <b>{{(matches | filter : filterPlayedNotConfirmed).length}}</b>
                    </li>
                    <li class="list-group-item item-special d-flex justify-content-between align-items-center">
                        <span><span style="color: #00B74A;"><i class="fas fa-check-circle mr-1"></i></span> Played and confirmed matches:</span>
                        <b>{{(matches | filter : filterPlayedAndConfirmed).length}}</b>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-hide="currentRound">
    <div class="col-xl-12">
        <h3 class="mt-4 mb-4">Already played {{roundsFinished}} rounds of {{numberOfRounds}}. <span ng-hide="roundsFinished == numberOfRounds">Waiting for next round to start...</span></h3>
    </div>
</div>

<div class="row" ng-show="currentRound">
    <div class="col-xl-12">
        <div class="card card-special mb-4">
            <div class="card-header bg-3">
                <span style="color: #FF4940;">
                    <i class="fas fa-circle mr-1"></i>
                </span>
                Your outstanding matches this round
            </div>
            <div class="card-body">
                <p ng-show='outstandingMatches.length == 0' class="text-center">No outstanding matches this round <i class="far fa-thumbs-up"></i></p>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        ng-repeat="row in outstandingMatches = (matches | filter : filterNotPlayed)">
                        <span><a ng-href="#!profile/{{row.playerId1}}"><b>{{row.p1DisplayName}}</b></a> <img class="rank-badge" ng-src="/img/rank_{{row.p1Rank}}.png"> <small
                                ng-if="row.p1MTGArenaName">({{row.p1MTGArenaName}})</small> vs.
                                <a ng-href="#!profile/{{row.playerId2}}"><b>{{row.p2DisplayName}}</b></a> <img class="rank-badge" ng-src="/img/rank_{{row.p2Rank}}.png"> <small
                                ng-if="row.p2MTGArenaName">({{row.p2MTGArenaName}})</small></span>

                        <button class="btn btn-special" ng-click="reportMatchResultModal(row)">Report Result</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row mb-alot">
    <div class="col-xl-6">
        <div class="card card-special mb-4">
            <div class="card-header bg-2">
                <span style="color: #FF8540;">
                    <i class="fas fa-pause-circle mr-1"></i>
                </span>
                Played but not yet confirmed matches
            </div>
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <div class="list-group-item item-special flex-column align-items-start" ng-repeat="row in matches | filter : filterPlayedNotConfirmed">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">
                            <a ng-href="#!profile/{{row.playerId1}}">{{row.p1DisplayName}}</a> <img class="rank-badge" ng-src="/img/rank_{{row.p1Rank}}.png"> vs. <a ng-href="#!profile/{{row.playerId2}}">{{row.p2DisplayName}}</a> <img class="rank-badge" ng-src="/img/rank_{{row.p2Rank}}.png">
                          </h5>
                          <small>
                            <span class="badge bg-primary text-light">
                                {{row.player1GamesWon}} : {{row.player2GamesWon}}
                            </span>
                            <span ng-show="row.winnerYou" class="badge rounded-pill bg-success text-light">You Won</span>
                            <span ng-hide="row.winnerYou" class="badge rounded-pill bg-danger text-light">You Lost</span>
                            <span ng-show="row.reporterYou" class="badge rounded-pill bg-warning text-dark">Opponent
                                pending</span>
                            <span ng-hide="row.reporterYou" class="badge rounded-pill bg-danger text-light">You
                                pending</span>
                          </small>
                        </div>

                        <p class="small"><b>{{row.p1DisplayName}}:</b></p>
                        <p class="small">
                            Trades receiving:
                            
                            <span ng-repeat="card in row.tradedToP1 track by $index">
                                <a uib-popover-template="'tplTradeToP1.html'" popover-placement="bottom" popover-trigger="'mouseenter'" class="badge badge-primary" ng-class="'badge-' + row.tradedToP1Rarities[$index]">
                                    {{card}}
                                </a>
                            </span>
    
                            <span ng-show="row.tradedToP1.length == 0">
                                -
                            </span>
                        </p>
                        <p class="small">
                            Achievements:
                            
                            <span ng-repeat="ach in row.p1Achievements track by $index">
                                <span class="badge badge-success">{{ach.name}} (+{{ach.points}})</span>
                            </span>
    
                            <span ng-show="row.p1Achievements.length == 0">
                                -
                            </span>
                        </p>

                        <p class="small"><b>{{row.p2DisplayName}}:</b></p>
                        <p class="small">
                            Trades receiving: 
                            
                            <span ng-repeat="card in row.tradedToP2 track by $index">
                                <a uib-popover-template="'tplTradeToP2.html'" popover-placement="bottom" popover-trigger="'mouseenter'" class="badge badge-primary" ng-class="'badge-' + row.tradedToP2Rarities[$index]">
                                    {{card}}
                                </a>
                            </span>
    
                            <span ng-show="row.tradedToP2.length == 0">
                                -
                            </span>
                        </p>
                        <p class="small">
                            Achievements:
                            
                            <span ng-repeat="ach in row.p2Achievements track by $index">
                                <span class="badge badge-success">{{ach.name}} (+{{ach.points}})</span>
                            </span>
    
                            <span ng-show="row.p2Achievements.length == 0">
                                -
                            </span>
                        </p>
                        
                        <button type="button" class="btn btn-danger btn-sm float-right" ng-show="row.reporterYou"
                            ng-click="revokeResult(row.matchId)">Revoke</button>

                        <div class="btn-group btn-group-sm float-right" role="group" ng-hide="row.reporterYou">
                            <button type="button" class="btn btn-success" ng-click="acceptResult(row.matchId)"><i
                                    class="fas fa-check-circle mr-1"></i>Accept</button>
                            <button type="button" class="btn btn-danger" ng-click="revokeResult(row.matchId)"><i
                                    class="fas fa-times-circle mr-1"></i>Decline</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card card-special mb-4">
            <div class="card-header bg-2">
                <span style="color: #00B74A;">
                    <i class="fas fa-check-circle mr-1"></i>
                </span>
                Played and confirmed matches
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <h2>Completed Achievements</h2>
                        <span class="badge badge-pill badge-success mb-4" style="font-size: 12pt;">+{{receivedAchievementsPoint}} Points</span>
                        
                        <div ng-repeat="(key, value) in receivedAchievements | groupBy: 'difficultyName'">
                            <h4>{{key}}</h4>

                            <div class="list-group list-group-flush">
                                <div class="list-group-item item-special flex-column align-items-start" ng-repeat="row in value">
                                    {{row.name}} <span class="badge badge-pill badge-success">+{{row.points}} Points</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                
                <div class="row mt-4">
                    <div class="col-xl-12">
                        <div ng-repeat="(key, value) in allMatches | filter : filterPlayedAndConfirmed | groupBy: 'roundName'">
                            <h4>{{key}}</h4>

                            <div class="list-group list-group-flush">
                                <div class="list-group-item item-special flex-column align-items-start" ng-repeat="row in value">
                                    <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">
                                        <a ng-href="#!profile/{{row.playerId1}}">{{row.p1DisplayName}}</a> <img class="rank-badge" ng-src="/img/rank_{{row.p1Rank}}.png"> vs. <a ng-href="#!profile/{{row.playerId2}}">{{row.p2DisplayName}}</a> <img class="rank-badge" ng-src="/img/rank_{{row.p2Rank}}.png">
                                    </h5>
                                    <small>
                                        <span class="badge bg-primary text-light">{{row.player1GamesWon}} : {{row.player2GamesWon}}</span>
                                        <span ng-show="row.winnerYou" class="badge rounded-pill bg-success text-light">You Won</span>
                                        <span ng-hide="row.winnerYou" class="badge rounded-pill bg-danger text-light">You Lost</span>
                                    </small>
                                    </div>
                                    <p class="mb-1 small">
                                        {{row.p1DisplayName}} receives:

                                        <span ng-repeat="card in row.tradedToP1 track by $index">
                                            <a uib-popover-template="'tplTradeToP1.html'" popover-placement="bottom" popover-trigger="'mouseenter'" class="badge badge-primary" ng-class="'badge-' + row.tradedToP1Rarities[$index]">
                                                {{card}}
                                            </a>
                                        </span>
                
                                        <span ng-show="row.tradedToP1.length == 0">
                                            -
                                        </span>
                                    </p>
                                    <p class="mb-1 small">
                                        {{row.p2DisplayName}} receives: 

                                        <span ng-repeat="card in row.tradedToP2 track by $index">
                                            <a uib-popover-template="'tplTradeToP2.html'" popover-placement="bottom" popover-trigger="'mouseenter'" class="badge badge-primary" ng-class="'badge-' + row.tradedToP2Rarities[$index]">
                                                {{card}}
                                            </a>
                                        </span>
                
                                        <span ng-show="row.tradedToP2.length == 0">
                                            -
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-special" id="reportMatchResult" tabindex="-1" role="dialog" aria-labelledby="matchResultModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="matchResultModal">Report match result: {{selectedMatchP1Name}} vs. {{selectedMatchP2Name}}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form" role="form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="player1GamesWon">{{selectedMatchP1Name}} Games Won</label>
                                    <input type="number" class="form-control" id="player1GamesWon" ng-model="player1GamesWon">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="player2GamesWon">{{selectedMatchP2Name}} Games Won</label>
                                    <input type="number" class="form-control" id="player2GamesWon" ng-model="player2GamesWon">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <h4>Trading</h4>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownTrade2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Add card {{selectedMatchP1Name}} receives
                                        </button>
                                        <div class="dropdown-menu w-100" aria-labelledby="dropdownTrade2">
                                            <div class="form-group has-search">
                                                <span class="fa fa-search form-control-feedback"></span>
                                                <input class="form-control" type="text" placeholder="Search" aria-label="Search"
                                                    ng-model="query1">
                                            </div>

                                            <button class="dropdown-item" ng-repeat='card in cards | filter:query1 | limitTo : 5' ng-click="addTradeP2toP1(card.cardId, card.cardName)">
                                                <span style="color: #25af30;"><i class="fas fa-plus-square"></i></span> {{card.cardName}}
                                            </button>
                                            </ul>
                                        </div>
                                      </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="card in tradesP2toP1">
                                            {{card.name}}
                                            <button class="btn btn-sm btn-danger float-right" ng-click="removeTradeCardP1($index)"><i class="fas fa-minus-square"></i></button>
                                        </li>
                                      </ul>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownTrade1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Add card {{selectedMatchP2Name}} receives
                                        </button>
                                        <div class="dropdown-menu w-100" aria-labelledby="dropdownTrade1">
                                            <div class="form-group has-search">
                                                <span class="fa fa-search form-control-feedback"></span>
                                                <input class="form-control" type="text" placeholder="Search" aria-label="Search"
                                                    ng-model="query2">
                                            </div>

                                            <button class="dropdown-item" ng-repeat='card in cards | filter:query2 | limitTo : 5' ng-click="addTradeP1toP2(card.cardId, card.cardName)">
                                                <span style="color: #25af30;"><i class="fas fa-plus-square"></i></span> {{card.cardName}}
                                            </button>
                                            </ul>
                                        </div>
                                      </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="card in tradesP1toP2">
                                            {{card.name}}
                                            <button class="btn btn-sm btn-danger float-right" ng-click="removeTradeCardP2($index)"><i class="fas fa-minus-square"></i></button>
                                        </li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-xl-12">
                        <div class="form" role="form">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <h4>Achievements</h4>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownAch2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Add completed achievements for {{selectedMatchP1Name}}
                                        </button>
                                        <div class="dropdown-menu w-100" aria-labelledby="dropdownAch2">
                                            <div class="form-group has-search">
                                                <span class="fa fa-search form-control-feedback"></span>
                                                <input class="form-control" type="text" placeholder="Search" aria-label="Search"
                                                    ng-model="queryAch1">
                                            </div>

                                            <button class="dropdown-item" ng-repeat='ach in selectableAchievementsP1 | filter:queryAch1' ng-click="addAchievementToP1(ach.achievementId, ach.name)">
                                                <span style="color: #25af30;"><i class="fas fa-plus-square"></i></span> 
                                                <b>{{ach.name}}</b>
                                                <small>{{ach.description}} </small>
                                                <span class="badge badge-pill badge-success">+{{ach.points}} Points</span>
                                            </button>
                                            </ul>
                                        </div>
                                      </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="ach in achievementsP1">
                                            {{ach.name}}
                                            <button class="btn btn-sm btn-danger float-right" ng-click="removeAchievementP1($index)"><i class="fas fa-minus-square"></i></button>
                                        </li>
                                      </ul>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownAch1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Add completed achievements for {{selectedMatchP2Name}}
                                        </button>
                                        <div class="dropdown-menu w-100" aria-labelledby="dropdownAch1">
                                            <div class="form-group has-search">
                                                <span class="fa fa-search form-control-feedback"></span>
                                                <input class="form-control" type="text" placeholder="Search" aria-label="Search"
                                                    ng-model="queryAch2">
                                            </div>

                                            <button class="dropdown-item" ng-repeat='ach in selectableAchievementsP2 | filter:queryAch2' ng-click="addAchievementToP2(ach.achievementId, ach.name)">
                                                <span style="color: #25af30;"><i class="fas fa-plus-square"></i></span>
                                                <b>{{ach.name}}</b>
                                                <small>{{ach.description}} </small>
                                                <span class="badge badge-pill badge-success">+{{ach.points}} Points</span>
                                            </button>
                                            </ul>
                                        </div>
                                      </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="ach in achievementsP2">
                                            {{ach.name}}
                                            <button class="btn btn-sm btn-danger float-right" ng-click="removeAchievementP2($index)"><i class="fas fa-minus-square"></i></button>
                                        </li>
                                      </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" ng-click="recordMatchResult(selectedMatchId, player1GamesWon, player2GamesWon)">Send Request</button>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="tplTradeToP1.html">
    <div class="popover-content">
        <img ng-src="{{row.tradedToP1Images[$index]}}" width="100%" class="img-responsive">
    </div>
</script>

<script type="text/ng-template" id="tplTradeToP2.html">
    <div class="popover-content">
        <img ng-src="{{row.tradedToP2Images[$index]}}" width="100%" class="img-responsive">
    </div>
</script>