<h1 class="mt-4">Tournament Overview</h1>
<h3 class="mt-2" style="color: #4C4C4C">{{tournamentName}}</h3>

<hr>

<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header text-center">
                <span ng-repeat="n in [] | range:roundsFinished">
                    <span style="color: #BFBFBF; font-size: 48px;"><i class="fas fa-check-square mr-4"></i></span>
                </span>
                <span ng-repeat="n in [] | range:1" ng-hide="currentRound < 0">
                    <span style="color: #4bc48b; font-size: 48px;"><i class="far fa-caret-square-right mr-4"></i></span>
                </span>
                <span ng-repeat="n in [] | range:numberOfRounds - 1 - roundsFinished" ng-hide="currentRound < 0">
                    <span style="color: #BFBFBF; font-size: 48px;" ><i class="far fa-square mr-4"></i></span>
                </span>
                <span ng-repeat="n in [] | range:numberOfRounds - roundsFinished" ng-show="currentRound < 0">
                    <span style="color: #BFBFBF; font-size: 48px;" ><i class="far fa-square mr-4"></i></span>
                </span>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" ng-repeat="round in rounds" ng-class="round.active ? 'active' : ''">
                        <b>{{round.name}}</b>: <small>{{round.dateStart | date:'MMM d yyyy'}} - {{round.dateEnd | date:'MMM d yyyy'}}</small>
                    </li>
                </ul>
            </div>
        </div>

        
    </div>
</div>

<div class="row">
    <div class="col-xl-12" ng-hide="currentRound < 0">
        <h3 class="mt-4 mb-4">Round {{roundsFinished + 1}} of {{numberOfRounds}} currently running</h3>
    </div>
    <div class="col-xl-12" ng-show="currentRound < 0">
        <h3 class="mt-4 mb-4">Already played {{roundsFinished}} rounds of {{numberOfRounds}}. Waiting for next round to start...</h3>
    </div>
</div>

<div ng-include src="'partials/errormessage.html'"></div>

<div class="row" ng-show="currentRound < 0">
    <div class="col-xl-6">
        <p>There is no round currently running...</p>
    </div>
</div>

<div class="row" ng-hide="currentRound < 0">
    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header">
                <span style="color: #FF4940;">
                    <i class="fas fa-circle mr-1"></i>
                </span>
                Your outstanding matches this round
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        ng-repeat="row in matches | filter : filterNotPlayed">
                        {{row.p1DisplayName}} vs. {{row.p2DisplayName}}

                        <div class="form-inline" role="form">
                            <div class="form-group mb-2">
                                <label for="player1GamesWon" class="sr-only">P1 Games Won</label>
                                <input type="number" class="form-control input-sm" id="player1GamesWon"
                                    ng-model="player1GamesWon">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="player2GamesWon" class="sr-only">P2 Games Won</label>
                                <input type="number" class="form-control input-sm" id="player2GamesWon"
                                    ng-model="player2GamesWon">
                            </div>
                            <button class="btn btn-primary mb-2"
                                ng-click="recordMatchResult(row.matchId, player1GamesWon, player2GamesWon)">Send
                                Request</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <span style="color: #FF8540;">
                    <i class="fas fa-pause-circle mr-1"></i>
                </span>
                Played but not yet confirmed matches
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        ng-repeat="row in matches | filter : filterPlayedNotConfirmed">
                        {{row.p1DisplayName}} vs. {{row.p2DisplayName}}
                        <span>
                            <span class="badge bg-primary text-light">{{row.player1GamesWon}} :
                                {{row.player2GamesWon}}</span>
                            <span ng-show="row.reporterYou" class="badge rounded-pill bg-warning text-dark">Opponent
                                pending</span>
                            <span ng-hide="row.reporterYou" class="badge rounded-pill bg-danger text-light">You
                                pending</span>
                        </span>

                        <button type="button" class="btn btn-danger btn-sm" ng-show="row.reporterYou"
                            ng-click="revokeResult(row.matchId)">Revoke</button>

                        <div class="btn-group btn-group-sm" role="group" ng-hide="row.reporterYou">
                            <button type="button" class="btn btn-success" ng-click="acceptResult(row.matchId)"><i
                                    class="fas fa-check-circle mr-1"></i>Accept</button>
                            <button type="button" class="btn btn-danger" ng-click="revokeResult(row.matchId)"><i
                                    class="fas fa-times-circle mr-1"></i>Decline</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <span style="color: #00B74A;">
                    <i class="fas fa-check-circle mr-1"></i>
                </span>
                Played and confirmed matches
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center"
                        ng-repeat="row in matches | filter : filterPlayedAndConfirmed">
                        {{row.p1DisplayName}} vs. {{row.p2DisplayName}}
                        <span class="badge bg-primary rounded-pill text-light">{{row.player1GamesWon}} :
                            {{row.player2GamesWon}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
